@model CinemaNuMetroV1.Models.filme

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>filme</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.duracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.duracao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cast)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cast)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.trailer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.trailer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imagemUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imagemUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
