@model IEnumerable<CinemaNuMetroV1.Models.filme>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trailer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagemUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cast)
            </td>
            <td>
                    <a href="@Html.DisplayFor(modelItem => item.trailer)">Trailer</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.preco)
            </td>
            <td>
                <img src = "@Html.DisplayFor(modelItem => item.imagemUrl)" width="150" height="200" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
